{{ form_start(agentRegistationForm) }}
    {{ form_row(agentRegistationForm.name) }}
    {{ form_row(agentRegistationForm.businessNumber) }}
    {{ form_row(agentRegistationForm.email) }}
    {{ form_row(agentRegistationForm.password) }}
    {{ form_row(agentRegistationForm.agreeTerms) }}
<button type="submit" class="btn btn-primary w-100">Register</button>
{{ form_end(agentRegistationForm) }}