{{ form_start(passwordForm) }}

{% if passwordForm.oldPassword is defined %}
    {{ form_errors(passwordForm.oldPassword) }}
    {{ form_row(passwordForm.oldPassword) }}
{% endif %}

{{ form_errors(passwordForm.password) }}
{{ form_row(passwordForm.password) }}

<div class="text-end">
    <button type="submit" class="btn btn-primary">
        {{ 'save'|trans }}
    </button>
</div>
{{ form_end(passwordForm) }}
