{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal">{{ 'login'|trans }}</h1>
                        {{ include('security/_social-auth.html.twig') }}
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control"
                                   autocomplete="email" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="text-end">
                                <a class="btn btn-link" href="{{ path('user_forgot_password') }}"></a>
                            </div>

                            <button class="btn w-100 mt-3 btn-primary" type="submit">
                                Sign in
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
