<div class="card sticky-top">
    <div class="card-header bg-white">
        <div class="d-mb-2"
             id="tender-{{ asset.tender.id }}" {{ turbo_stream_listen('tender') }}>
            {{ include('asset/bid/_bid.html.twig', {
                tender: asset.tender
            }) }}
        </div>
    </div>
    {% if app.user %}
        {% if  asset.owner != app.user %}
            <div class="card-body">
                <turbo-frame id="bid-form" src="{{ path('_new_bid', {id: asset.id}) }}" target="_self">
                    <div class="d-flex justify-content-center align-items-center min-vh-10">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </turbo-frame>
            </div>
        {% endif %}
    {% endif %}
    <div class="d-flex justify-content-between card-footer text-end bg-white {% if not app.user or asset.owner == app.user %} border-top-0 {% endif %}">
        <div class="small text-muted">{{ asset.createdAt|date }}</div>
        <div {{ stimulus_controller('countdown', { seconds: asset.tender.timeUntilEnd }) }}>
            <span class="small text-muted" data-countdown-target="result">00:00:00</span>
        </div>
    </div>
</div>
