{% if tender.bid %}
    <div class="d-flex align-items-center">
        <div class="me-2">{{ 'current-bid'|trans }}</div>
        {% if tender.bid.owner == app.user %}
            <img src="{{ app.user.avatar }}" height="20" width="20" class="rounded-circle object-fit-cover me-2"/>
        {% endif %}
    </div>
{% endif %}
<div class="h3 my-1"
        {% if isNew|default(false) %}
            {{ stimulus_controller('bid-style') }}
        {% endif %} >
    {% if tender.bid %}
        {{ tender.bid.price|format_currency(tender.asset.currency) }}
    {% else %}
        {{ 'no-bids-yet'|trans }}
    {% endif %}
</div>

