<turbo-frame id="asset-images">
    <div id="asset-carousel-{{ asset.id }}" class="carousel preview-carousel slide" data-bs-interval="false"
         data-bs-touch="true">
        {% if asset.images|length > 1 %}
            <div class="carousel-indicators">
                {% for image in asset.images %}
                    <button type="button" data-bs-target="#asset-carousel-{{ asset.id }}"
                            data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %} active {% endif %}"
                            aria-current="true" aria-label=""></button>
                {% endfor %}
            </div>
        {% endif %}
        <div class="carousel-inner">
            {% for image in asset.images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="false">
                    <img src="{{ image.base64 }}" class="preview-img"
                         alt="{{ image.id }}">
                </div>
            {% endfor %}
        </div>
        {% if asset.images|length > 1 %}
            <a class="carousel-control-prev" type="button"
               data-bs-target="#asset-carousel-{{ asset.id }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" type="button"
               data-bs-target="#asset-carousel-{{ asset.id }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        {% endif %}
    </div>
</turbo-frame>
