{{ form_start(tenderForm) }}
<div class="input-group" >
    <div class="input-group-text">
        <span class="mdi mdi-calendar"></span>
    </div>
    {{ form_widget(tenderForm.startAt) }}
    {{ form_widget(tenderForm.endAt) }}
</div>
{{ form_row(tenderForm.minimumBid) }}
<div class="text-end">
    <button type="submit" class="btn btn-primary">
        {{ 'save'|trans }}
    </button>
</div>
{{ form_end(tenderForm) }}
