{% import "macro/user.macro.twig" as userMacro %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ include('/user/_account-menu.html.twig') }}
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="list-group list-group-flush">
                        {% for user in conversation.people %}
                            <a href="{{ path('user_public_profile', {id: user.id }) }}"
                               class="list-group-item d-flex align-items-center justify-content-between">
                                <div>
                                    <img class="rounded-circle object-fit-cover" height="30" width="30"
                                         alt="{{ user.fullName }}" src="{{ user.avatar }}"/>
                                </div>
                                <div>
                                    {{ user.fullName }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm">

                    {{ include('conversation/_conversation-toolbar.html.twig', {
                        conversation : conversation
                    }) }}

                    <div class="messages" {{ stimulus_controller('messages') }}
                            {{ stimulus_action('messages', 'scroll', 'scroll') }}
                         id="conversation-{{ conversation.id }}" {{ turbo_stream_listen('chat') }}>
                        <div class="text-center">
                            <a href="{{ path('conversation', {id: conversation.id}) }}"
                               class="btn btn-link">{{ 'load-older'|trans }}</a>
                        </div>
                        {% for message in messages %}
                            {% if app.user == message.owner %}
                                <div class="d-flex justify-content-end">
                                    <div class="col-md-9">
                                        <div class="bg-grey rounded-2 p-2">{{ message.content }}</div>
                                        <div class="xtra-small text-muted">{{ message.createdAt|format_datetime('short', 'short', locale='en_GB', timezone=regional.timezone) }}</div>
                                    </div>
                                    <div class="col-md-1 d-flex justify-content-end">
                                        <img class="rounded-circle object-fit-cover sticky-top shadow-sm ms-2"
                                             height="40"
                                             width="40" alt="{{ message.owner.fullName }}"
                                             src="{{ message.owner.avatar }}"/>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-start mb-2">
                                    <div class="col-md-2" >
                                        <img class="rounded-circle object-fit-cover sticky-top shadow-sm"
                                             height="40"
                                             width="40" alt="{{ message.owner.fullName }}"
                                             src="{{ message.owner.avatar }}"/>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="bg-grey rounded-2 p-2">{{ message.content }}</div>
                                        <div class="xtra-small text-muted">{{ message.createdAt|format_datetime('short', 'short', locale='en_GB', timezone=regional.timezone) }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {{ include('/conversation/message/message.stream.html.twig', {
                            conversation : conversation,
                        }) }}
                    </div>
                    {{ include('conversation/message/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

