{# conversation/item.stream.html.twig #}

<turbo-stream action="append"
              target="conversation-list">
    <template>
        <a class="list-group-item shadow-sm mb-2 mx-1"
           data-turbo-frame="active_conversation"
           href="{{ path('user_conversation', {id: conversation.id}) }}">
            <div class="avatars">
                {% for user in conversation.users %}
                    <img alt="{{ user.fullName }}" data-bs-toggle="tooltip"
                         data-bs-placement="right" title="{{ user.fullName }}"
                         class="avatars__item" src="{{ user.avatar }}" height="45"/>
                {% endfor %}
            </div>
            {% if conversation.messages|last %}
                <div class="border-top py-1 my-1 text-muted small">{{ conversation.messages|last|slice(0,50) }}...</div>
            {% endif %}
        </a>
    </template>
</turbo-stream>
